.App {
  font-family: sans-serif;
}
h1 {
  color: #743811;
}
li {
  list-style: none;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#logo {
  flex: 1;
}
nav {
  flex: 3;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.boxes {
  display: flex;
  flex-direction: column;
}
.list-item {
  padding: 5px;
  margin: 5px 0;
  border-bottom: 2px solid #743811;
}
